.wrap{
	width: 600px;
	height: 450px;
	border: solid 4px #3366ff;
	text-align: center;
	margin: 0 auto;
	font-family: Roboto;
	font-size: 32px;
	font-weight: bold;
}
.column_1, .column_2, .column_3{
	height: 90%;
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	margin: 20px auto;
	position: relative;
}
.column_1, .column_2{
	border-right: solid 1px #3366ff;
}
.blue{
	width: 36px;
	height: 36px;
	background: #3366ff;
	margin-left: 4px;
	position: absolute;
	
}
p{
	position: absolute;

}

.p1{
	left: 40px;
	top: 35px;
}
.p2, .p4{
	left: 78px;
	top: 70px;
}
.p3, .p5{
	right: 42px;
	top: 180px;
}
.item1{
	left: 0px;
	top: 66px;
}
.item2{
	left: 38px;
	top: 104px;
}
.item3{
	right: 4px;
	top: 214px;
}
.item3, .item5{
	right: 4px;
	top: 214px;
}
.item4{
	right: 45px;
	top: 96px;	
}
.p4{
	z-index: 1;
}